body{
    font-family: 'Yeseva One', cursive;
}
.orange-color{
    color:orange;
}
h1{
    font-size:50px;
    margin-left: 20px;
    line-height: 30px;
}
#section_one{
    display:flex;
}
p{
    padding-bottom: 20px;
}
.half_width{
    width: 50%;
    padding-left:10%;
}
.half_width img{
    width: 80%;
}
.explore_button{
    text-decoration: none;
    background-color:tomato;
    padding:10px 25px;
    border-radius:5px;
    color:white;
   
}
#about_us{
    margin-top:30px;
    font-weight:200;
}
#border_left{
    border-left:5px solid tomato;
}
.text_align{
    margin-top: 100px;
}